[Unit]
Description=SSL Tracking Camera
After=network-online.target
AssertPathExists=/usr/local/bin/ssl_tracking_cam
StartLimitInterval=30
StartLimitBurst=5

[Service]
ExecStart=/usr/local/bin/ssl_tracking_cam
Restart=always
RestartSec=3
TimeoutStopSec=5

[Install]
Alias=gimbal.service
WantedBy=multi-user.target
