[Unit]
Description=SSL Tracking Camera
After=network-online.target
AssertPathExists=/usr/local/bin/ssl_tracking_cam

[Service]
ExecStart=/usr/local/bin/ssl_tracking_cam
Restart=always
RestartSec=3
TimeoutStopSec=5

[Install]
Alias=ssl-tracking-cam
WantedBy=multi-user.target
